.signup-form{
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  border-radius: 5px;
  padding-bottom: 7%;
  background-color: #8bb7d2;
  margin-top: 7%;
}

.heading{
    font-size: xx-large;
    font-weight: 900;
    color: #024670;
}

.form-group{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.signup-btn{
    background-color: #207fba;
    width: 400px;
}

.signup-btn:hover{
    background-color: #36a9f0;
    border-color: black;
}