.body {
    font-family: Arial, sans-serif;
    margin-top: 80px;
    padding: 0;
    box-sizing: content-box;
    line-height: 1.5;
    word-spacing: 0.15rem;
    /* max-width:100vw; */
    background-color: #c4e4eb;
}


header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21465e;
    color: #36a9f0;
    padding: 0.25em;
}

header img{
    /* background-color: #c4e4eb; */
    width:100px;  
    height:100px;
}

header h1{
    margin-right:42.5rem;
}


section {
    margin-top: 2em;
}

.sec {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 99vw;
    margin: 0 0 0 5rem;
}

.cont{
    /* border: 2px solid black; */
    width: 97%;
}

.text{
    width: 93%;
}

p{
    font-size:15px;
    margin-left:0;
}

.tap{
    width: 220px;
    margin-right: 130px;
    /* border: 1px solid black; */
}

.tap img {
    /* background-color: transparent; */
    margin-left: 0rem; 
    margin-right:5rem;
    height: 420px;
    width:220px;
}

.text p {
    width: 95ch;
    margin-top:1rem;
}
.intro p{
    margin-right:8rem;
    margin-top:1rem;
}

.supply img{
    margin:0;
    padding:0;
    width:99vw;
    height:50vh;
    border-top:2px solid blue;
    border-bottom:2px solid blue;
}

.empty{
    margin-top:0;
    padding-left:0;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    width:99vw;
    height:50px;
    background-color: #57b2ee;

    display:flex;
    justify-content: center;
    align-items: center;
}

marquee{
    white-space: nowrap;
}

.about{
    display: block;
    background-color: aquamarine;
    height:50px;
    min-width: 100px;
    padding:0.1rem;

    display:flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #333;
    color: #fff;
    /* padding: 1em; */
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;
}

.flx {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:2rem;
    position: relative;
}

.para{
    display:flex;
    
}

.para p{
    margin-top:1rem;
}

/* .para-right{
    width: 50%;
} */


h4{
    margin-bottom:0;
    
}

.img1{
    display:flex;
    column-gap:1rem
}

.img1 img{
    display:flex;
    width:200px;
    height:200px;
    border : 2px solid black;
    border-radius:50%;
    margin-right:0;
    
}


.img2 img{
    margin-top:1.4rem;
    margin-right:4rem;
    margin-bottom: 1rem;
    width:400px;
    height:300px;
    border:2px solid black;
    border-radius:10px;
}

.urban{
    display:flex;
    gap:1.5rem;

}

.urban img{
    width:400px;
    height:300px;
    border:1px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    border-radius:10px;
}

.contact-info {
    text-align: left;
    max-width: 300px;
    margin-left: 10rem;
    padding-bottom:0.5rem;
}

.contact-info p{
    margin-left:0;
    margin-top:0;
    margin-bottom:1rem
}

.social-icons {
    text-align: right;
    max-width: 300px;
    margin-right: 15rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

li a img {
    width: 50px;
    height: 50px;
}

.cop {
    position: relative;
    /* display:block; */
    border-top:2px solid white;
}

.cop p{
    margin: 1rem;
}

.media_head{
    display: flex;
    justify-content: center;
    place-items:center;
    place-content: center;
}

.flx h4{
    margin-bottom:1rem;
}

span{
    font-size: 15px;
    margin-top:1rem;
    gap:1rem;
}

::selection {
    background-color: #57b2ee;
}